/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.logo h1 {
  font-family: 'Cinzel', serif;
  margin: 0;
  color: white;
}

.menu-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  color: white;
}

nav.menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav.menu.show {
  display: block;
}

nav.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav.menu ul li {
  margin: 1rem 0;
}

nav.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Hero */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/fondo.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  border: 3px solid #4caf50;
  padding: 1.5rem;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}

/* About, Works, and Contact Sections */
section {
  padding: 4rem 0;
}

.about {
  padding: 4rem 0;
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  text-align: center;
}

.about-content {
  max-width: 600px;
  margin: 0 auto;
}

.about h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.8;
  text-align: justify;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.about-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #b676f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .about-image img {
    width: 180px;
    height: 180px;
  }
}

.services {
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  padding: 3rem 0;
  text-align: center;
}

.section-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.8rem;
  color: #5e0569;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas fijas */
  gap: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.service-item {
  background: #f8ebf6;
  border-radius: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.service-icon img{
 width: 50px;
 height: 50px;
 object-fit: contain;
}

.service-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}


@media (max-width: 768px) {
  .services-grid {
      grid-template-columns: 1fr;
  }
  .service-icon img {
    width: 50px;
    height: 50px;
  }
}

.service-icon {
  font-size: 3rem;
  color: #4caf50;
  margin-bottom: 1rem;
}

/*Carusel*/
.custom-img {
  object-fit: contain; /* Mantiene las proporciones de la imagen */
  max-height: 500px; /* Ajusta el alto máximo de la imagen según lo que prefieras */
}

.section-title{
  text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #2C3E50;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f0beb8;
  margin: 20px auto 0;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
}

.custom-img {
  object-fit: cover;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideIn 1s ease-out forwards;
}

.custom-img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  
}

.description {
  background-color: rgba(179, 218, 250, 0.6);
  color: #131572;
  padding: 15px;
  border-radius: 8px;
  bottom: 20px;
  left: 50%;
  width: 100%;
  transition: opacity 0.3s ease;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-item:hover .description {
  opacity: 1;
}

/* Botones del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #563ce7;
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 1;
}

.section-works{
  background: linear-gradient(to right, #a3a2f1, #fbc7d4);
}

.contact{
  background-color: rgba(144, 151, 240, 0.945);
  padding: 60px 0;
  text-align: left;
}

.contact h2 {
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 15px;
  color: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

.contact ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: left;
  color: #0f0f0f;
}

.contact ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact a:hover {
  color: #C0392B;
  text-decoration: underline;
}

/* Fondo y sombras para la caja */
.contact .container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ddd6fd;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact button {
  background-color: #E74C3C;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #C0392B;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.contact-form textarea {
  height: 150px;
}

/* Media Queries */
@media (max-width: 768px) {
  header .container {
    padding: 10px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .about-content {
    flex-direction: column;
  }

  .menu-btn {
    display: block;
  }

  .hero-content {
    padding: 0 20px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
